@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.c-navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  border-bottom: solid 1px #f2f2f2;
}

.c-navbar .c-title {
  color: #f1356d;
}

.c-navbar .links {
  margin-left: auto;
}

.c-navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.c-navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}